<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <ul>
            <button class="button"><a href="{{ url_for('login') }}">Log-in</a></button> <br> <br>
            <button class="button"><a href="{{ url_for('register') }}">Sign-Up</a></button>
        </ul>
    </nav>
    <div class="container">
        <div class="content">
            <div class="square twitch" style="margin-bottom: 50px;">
                <span class="one"></span>
                <span class="two"></span>
                <span class="three"></span>
                <div class="circle">
                    <h2 class="DrugRadar">EMOETRY</h2>
                </div>
            </div>
        </div>
    </div>
</body>

</html>